<!--The content below is only a placeholder and can be replaced.-->

<div class="row">
  <div class="column">
    <mat-form-field>
      <input matInput [matDatepicker]="datepicker" (dateChange)="onDateChange($event)" placeholder="Pick a date" disabled>
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker disabled="false"></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="column">
    <app-calendar #calendar></app-calendar>
  </div>
</div>
